* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Indie Flower', cursive;
    font-size: 150%;
}
header {
    background-image: linear-gradient(to right,#b71540 , #eb2f06);
    padding: 20px 0px;
}
h1 {
    text-transform:capitalize;
    text-align: center;
    letter-spacing: 1px;
}
.work-space {
    position: relative;
    background-color: #f8c291;
    height: 621px;
}
.add-button {
    position: absolute;
    display: none;
    top:87%;
    left: 79.5%;
    z-index: 100;
    cursor: pointer;
}
.add {
    font-size: 200%;
}
.input-text {
    position: absolute;
    top: 87%;
    left: 40px;
    height: 46px;
    width: 100px;
    padding-left: 20px;
    border-radius: 23px;
    outline: none;
    border: none;
}
.list-task {
    position: absolute;
    width: 100%;
}
.task {
    margin: 10px auto;
    display: block;
    font-size: 60%;
    background-image: linear-gradient(to right,#38ada9 , #78e08f);
    width: 60%;
    padding: 15px;
    border-radius: 20px;
}
.task:hover {
    transform: scale(1.1);
}
.check, p, .delete {
    display: inline-block;
    margin-left: 10px;
}
.check, .delete {
    cursor: pointer;
}
.check:hover{
    transform: scale(1.5);
}
.delete:hover {
    transform: scale(1.5);
}
