@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;

  background: linear-gradient(to left, #69dadb, #1597e5);
  text-align: center;
}
.logo img {
  width: 300px;
  margin-top: 30px;
  margin-bottom: 50px;
}
h2 {
  text-transform: uppercase;
  color: #193498;
  margin-top: 30px;
  margin-bottom: 40px;
}
.form {
  background-color: #fff;
  display: inline-block;
  padding-left: 100px;
  padding-right: 100px;
}
input {
  margin-bottom: 5px;
  padding: 8px;
}
input[type="text"],
input[type="password"] {
  width: 235px;
}
.forgot {
  display: block;
  text-decoration: none;
  text-align: right;
  font-size: 80%;
  margin-bottom: 50px;
}
.button {
  display: inline-block;
  text-decoration: none;
  background-color: #113cfc;
  padding: 15px;
  color: #fff;
  font-size: 80%;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 50px;
  transition: all 0.5s;
}
#signup {
  margin-right: 7px;
  background-color: #fff;
  color: #1597e5;
}
.button:hover {
  transform: scale(1.1);
}
#signup:hover {
  background-color: #113cfc;
  color: #fff;
}
input[type="date"] {
  padding: 0;
  width: 120px;
  margin-right: 7px;
}
label {
  color: #193498;
  font-size: 80%;
}
